@model name_search_2.Models.kid

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>kid</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.School)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.School)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TimeOfEntry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TimeOfEntry)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FirstName }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
