@model IEnumerable<name_search_2.Models.kid>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>
        @using (Html.BeginForm("Index", "kids",FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.RadioButton("searchBy", "School")<text>School</text>
            @Html.RadioButton("searchBy", "Email")<text>Email</text>
            <br />
            @Html.TextBox("textSearch")<input type="submit" value="Search" />
        }
    </p>


    <table border="1" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfEntry)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfEntry)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FirstName }) |
                @Html.ActionLink("Details", "Details", new { id=item.FirstName }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FirstName })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
