@model IEnumerable<Name_Search_3.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
        <b>Search By:</b>
        @Html.RadioButton("radioSearch", "lastName")<text>Last Name</text>
        @Html.RadioButton("radioSearch", "gradYear")<text>Graduating Year</text>
        <br />
        @Html.TextBox("textSearch") <input type="submit" value="search" />
    }

    


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduatingYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraduatingYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>
</html>
